body{
    font-family: var(--font-family-montserrat);
}

h1{
    font-size: var(--font-headline-1-size);
    font-weight: var(--font-headline-1-weight);
}

h2{
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
}

h3{
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-3-weight);
}

h4{
    font-size: var(--font-headline-4-size);
    font-weight: var(--font-headline-4-weight);
}

h5{
    font-size: var(--font-headline-5-size);
    font-weight: var(--font-headline-5-weight);
}

h6{
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
}

p{
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
}

.p-small{
    font-size: var(--font-body-small-size);
    font-weight: var(--font-body-small-weight);
}

.p-link{
    font-size: var(--font-link-size);
    font-weight: var(--font-link-weight);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;

    background-color: var(--color-primary-green);
    font-size: var(--font-button-size);
    font-weight: var(--font-body-weight);
    color: var(--color-text-white);
}