body {
    background-color: var(--color-background-light-grey);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 220px;
    position: sticky;

    padding: 18px 0px;
}

.logo-header h3{
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-3-weight);
    color: var(--color-text-dark-blue);
    cursor: pointer;
}

.nav-links ul, a{
    display: flex;
    gap: 20px;

    font-size: var(--font-link-size);
    font-weight: var(--font-link-weight);
    color: var(--color-text-grey);
}

.nav-links a:hover {
    color: var(--color-effect-hover-green);
}

.group-buttons-header{
    display: flex;
    gap: 45px;
}

.btn-login {
    background: none;

    color: var(--color-primary-green);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    letter-spacing: 0.2px;

    cursor: pointer;
    transition: 0.2s;
}

.btn-join {
    display: flex;
    gap: 15px;
    padding: 15px 25px;

    border-radius: 5px;
    background-color: var(--color-primary-green);
    cursor: pointer;

    color: var(--color-text-white);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    letter-spacing: 0.2px;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn-join:hover {
    background-color: var(--color-effect-hover-green);
}

.btn-login:hover {
    color: var(--color-effect-hover-green);
}