body {
    background-color: var(--color-background-white);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 220px;
    position: sticky;

    padding: 18px 0px;
    background-color: var(--color-background-light-grey);
}

.logo-header h3{
    font-size: var(--font-headline-3-size);
    font-weight: var(--font-headline-3-weight);
    color: var(--color-text-dark-blue);
    cursor: pointer;
}

.nav-links ul, a{
    display: flex;
    gap: 20px;

    font-size: var(--font-link-size);
    font-weight: var(--font-link-weight);
    color: var(--color-text-grey);
}

.nav-links a:hover {
    color: var(--color-effect-hover-green);
}

.group-buttons-header{
    display: flex;
    gap: 45px;
}

.btn-login {
    background: none;

    color: var(--color-primary-green);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    letter-spacing: 0.2px;

    cursor: pointer;
    transition: 0.2s;
}

.btn-join {
    display: flex;
    gap: 15px;
    padding: 15px 25px;

    border-radius: 5px;
    background-color: var(--color-primary-green);
    cursor: pointer;

    color: var(--color-text-white);
    font-size: var(--font-button-size);
    font-weight: var(--font-button-weight);
    letter-spacing: 0.2px;
    text-transform: uppercase;
    transition: 0.2s;
}

.btn-join:hover {
    background-color: var(--color-effect-hover-green);
}

.btn-login:hover {
    color: var(--color-effect-hover-green);
}

main {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 55px;
    gap: 85px;
    
    background-color: var(--color-background-light-grey);
}

main > .content-img  img{
    width: 640px;
}


.content-main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.content-main > h1 {
    width: 494px;
    font-family: var(--font-family-montserrat);
    font-size: var( --font-headline-1-size);
    font-weight: var(--font-headline-1-weight);
    color: var(--color-text-dark-blue);
}


.content-main-group-button {
    display: flex;
    gap: 10px;
}

.content-main-group-button >  .btn-primary{
    width: 195px;
    background-color: var(--color-primary-green);
    color: var(--color-text-light-grey);
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
    transition: 0.2s;
}

  .btn-primary:hover {
    background-color: var(--color-effect-hover-green);
  }

.content-main-group-button >.btn-secundary {
    width: 195px;
    background-color: var(--color-background-white);
    color: var(--color-primary-green);
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid var(--color-primary-green);
    cursor: pointer;
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
    transition: 0.2s;
}

.btn-secundary:hover {
    background-color: var(--color-primary-green);
    color: var(--color-background-white);
  }

.content-main > p {
    width: 470px;
    font-size: var(--font-headline-4-size);
    font-weight: var(--font-headline-4-weight);
    color: var(--color-text-grey);
}

.expert-instruction {  
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.expert-card {
    box-shadow: var(--effect-shadow-light-drop);
    padding: 40px 35px;
}

.line-card{
    border: none; 
    height: 2px;
    width: 50px;
    background-color: red;
}

.expert-card p {
    color: var(--color-text-grey);
}

.statistics-school{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 0px;
}

.card-stats{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 44px
}

.card-stats > h2 {
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
    color: var(--color-primary-green);
}

.card-stats > h5 {
    font-size: var(--font-headline-5-size);
    font-weight: var(--font-headline-5-weight);
    color: var(--color-text-dark-blue);
}

.section-client-metter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 114px;
}

.content-client-metter {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 428px;
}

.content-client-metter > h2 {
    font-size: var(--font-headline-2-size);
    font-weight: var(--font-headline-2-weight);
    color: var(--color-text-dark-blue);
}

.content-client-metter > p {
    width: 346px;
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    color: var(--color-text-grey);
}

.content-client-metter > a {
    font-size: var(--font-link-size);
    font-weight: var(--font-link-weight);
    color: var(--color-primary-green);
    transition: 0.2s;
}

.content-client-metter > a:hover {
    color: var(--color-effect-hover-green);
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

footer > .footer-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-container > .footer-group-list h2{
    display: flex;
    margin-bottom: 20px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-headline-5-size);
    font-weight: var(--font-headline-5-weight);
}

.footer-container > .footer-group-list > ul  {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-container > .footer-group-list > ul > li  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
    gap: 10px;
    color: rgba(115, 115, 115, 1);
}

.email{
    font-family: var(--font-family-montserrat);
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
    gap: 0.2px;
    width: 300px;
} 

footer > .footer-reserved {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    gap: 300px;
}

footer > .footer-reserved p {
    display: flex;
    justify-content: center;
    text-align: start;
    width: 600px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-headline-6-size);
    font-weight: var(--font-headline-6-weight);
   
}

footer > .footer-reserved > .footer-group-social-media {
    display: flex;
    justify-content: start;
    width: 236px;
    gap: 20px;
    text-align: center;
}
.expert-instruction > .expert-card {
    width: 328px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.expert-instruction > .expert-card > .card-img {
    width: 72px;
    background-color: red;
    border-radius: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    padding: 22px;
}